<%- include("includes/head.ejs", { title: "Error" }) %>
</head>
<body>
  <%- include("includes/header.ejs") %>
  <main>
    <h1>인증되지 않은 상태입니다!</h1>
    <p>당신은 인증되지 않았습니다. 따라서 이 페이지에 접근할 수 없습니다.</p>
  </main>
</body>