<%- include("includes/head.ejs", { title: "Error"}) %>
</head>
<body>
  <%- include("includes/header.ejs") %>
  <main>
    <h1>에러가 발생했습니다!</h1>
    <p>나중에 다시 시도해 주세요.</p>
  </main>
</body>
<html></html>