<%- include('includes/head.ejs', { title: 'Admin' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>블로그 포스트</h1>
    <section>
      <h2>새로운 포스트 작성</h2>
    </section>
    <section>
      <h2>모든 블로그 포스트</h2>
    </section>
  </main>
</body>