<%- include("includes/head.ejs", { title: "Welcome" }) %>
</head>

<body>
  <%- include("includes/header.ejs") %>
  <main>
    <h1>MVC 패턴 연습 데모 사이트에 오신 걸 환영합니다!</h1>
    <p>당신은 이 데모 사이트에서 계정을 생성하고 로그인할 수 있습니다.</p>
    <p>또한 <a href="/admin">어드민 페이지</a>에서 당신은 블로그 게시글에 대한 CRUD를 수행할 수 있습니다.</p>
  </main>
</body>
</html>